.container {
  max-width: 1330px;
}

.my-menu {
  font-size: 14px!important;
  letter-spacing: 1px;
  word-spacing: 2px;
}

@media all and (max-width: 1024px) {
  .my-menu {color: black;}
  .menu-sidebar li {padding-bottom: 10px;}
  .social {
    top: 20px;!important;
    left: -5px;!important;
    display: block;!important;
    position: fixed;!important;
  }
}

.main_menu li {
  padding: 3px;
}

.my-h2 {

}

.my-logout {
  position: fixed;
  top: 55px;
  right: 33px;
}

.add-photo {
  position: fixed;
  top: 11px;
  right: 15px;
}

.deletePhoto {
  position: absolute;
  font-size: 25px;
  right: 15px;
  top: 10px;
  color: red;
}

.editPhoto {
  position: absolute;
  font-size: 25px;
  right: 55px;
  top: 10px;
  color: dodgerblue;
}

.editPhoto:hover {
  color: dodgerblue;
}
